*{
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 100%;
}
body{
    background-color:rgb(255, 255, 255);
}
.hero-image{
    background-image: url("./20240626_111134.jpg");
    height: 450px;
    background-position: center;
    background-size: cover;
}

.hero-text{
    color:rgb(202, 255, 255);
    text-align: center;
    top: 195px;
    width: 100%;
    font-size: 4rem;
}